    body {
        background-color: #040419;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        color: white;
    }
    p{
    border:2px;
    border-style: solid;
    border-spacing: 50px;
    border-block-width: medium;
    border-color:white;
    padding: 1em;
    font-size:30px;
    color: white;
    }
    h4 {
        color:white;
    }
    input[type=submit], button{ /*  Simple button */
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-family: verdana;
    border-radius: 12px;
    cursor: pointer;
    }
    .delete_button {
        background-color:deepskyblue;
        color: white;
    }
    .button_table{
    background-color:deepskyblue;
    font-size: 15px;
    font-family: verdana;
    color: black;
    }
    .button1 {
        background-color:deepskyblue;
        font-size: 15px;
        font-family: verdana;
        color: black;
    }
    input[type=text], input[type=number] {
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        text-align: center;
        width: 40%;
        border-radius: 7px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    input[type=password] {
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        text-align: center;
        width: 40%;
        border-radius: 7px;
    }
    .container {
        width: 800px;
        clear: both;
        font-size: 30px;
      }
    .container input {
        width: 100%;
        clear: both;
      }
    pre {
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 40px;
    }
    table {
        border:2px;
        border-style: solid;
        border-color:white;
        color: white;
    }
    h1 {
        color: #1b93e4;
        font-family: verdana;
        font-size: 40px;
        text-align: center;
    }
    h2 {
        color : white;
        font-family: verdana;
        font-size: 30px;
        text-align: center;
    }
    input[type=submit], button{ /*  Simple button */
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-family: verdana;
    border-radius: 12px;
    cursor: pointer;
}
.button1 {
    background-color:deepskyblue;
    font-size: 15px;
    font-family: verdana;
    color: black;
}
td ,th, b {
    color: white;
    font-family: verdana;
    text-align: center;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
input[type="file"] {
    display: none;
}
.button_table {
    background-color:deepskyblue;
    font-size: 15px;
    font-family: verdana;
    color: black;
    }
input[type=file] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    }
    form  { display: table;      }
    label { display: table-cell; }
    input { display: table-cell; }
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
@import url('https://fonts.googleapis.com/css?family=Lato:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
.wrapper{
  display: inline-flex;
  height: 100px;
  width: 400px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 20px 15px;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
}
.wrapper .option{
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.wrapper .option .dot{
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.wrapper .option .dot::before{
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: black;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
input[type="radio"]{
  display: none;
}
#option-1:checked:checked ~ .option-1 {
    border-color: #e63c30;
    background: #e63c30;
}
#option-2:checked:checked ~ .option-2{
  border-color: #0069d9;
  background: #0069d9;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot{
  background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before{
  opacity: 1;
  transform: scale(1);
}
.wrapper .option span{
  font-size: 20px;
  color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span{
  color: #fff;
}
  .border{
    border:2px;
    border-style: solid;
    border-spacing: 50px;
    border-block-width: medium;
    border-color:white;
    padding: 1em;
    font-size:30px;
    color: white;
    }
    @import url(https://fonts.googleapis.com/css?family=Oswald:400);

    .navigation {
      width: 100%;
      background-color: black;
    }
    
    img {
      width: 25px;
      border-radius: 50px;
      float: left;
    }
    
    .logout {
      font-family: 'Oswald', sans-serif;
      font-weight: 700;
      position: relative;
      right: -18px;
      bottom: -4px;
      overflow: hidden;
      letter-spacing: 2px;
      opacity: 0;
      transition: opacity .45s;
      -webkit-transition: opacity .35s;
    }
    
    .signout {
      text-decoration: none;
      position:absolute;
      top:0;
      right:0;
      padding: 12px;
      margin: 15px;
      color: white;
      width: 20px;
      transition: width .35s;
      -webkit-transition: width .35s;
      overflow: hidden;
      }
    
    a:hover {
      width: 120px;
    }
    
    a:hover .logout{
      opacity: .9;
    }
    
    a {
      text-decoration: none;
    }
    .center {
      width: 1000px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .border{
      border:5px;
      border-style: solid;
      border-spacing: 500px;
      border-block-width: medium;
      border-color:white;
      padding: 1em;
      border-radius: 20px;
    }